n8n-reddit-scraper.json
{
  "name": "Reddit Trend Collector",
  "nodes": [
    {
      "parameters": {},
      "name": "Schedule Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "schedule-trigger",
      "webhookId": "",
      "credentials": {},
      "executeOnce": false,
      "triggerOn": "interval",
      "interval": 7200000
    },
    {
      "parameters": {
        "subreddit": "memes",
        "sort": "hot",
        "limit": 25
      },
      "name": "Reddit Get Posts - memes",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [450, 200],
      "id": "reddit-memes",
      "credentials": {
        "redditOAuth2Api": {
          "id": "YOUR_REDDIT_CREDENTIALS",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "subreddit": "dankmemes",
        "sort": "hot",
        "limit": 25
      },
      "name": "Reddit Get Posts - dankmemes",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [450, 300],
      "id": "reddit-dankmemes",
      "credentials": {
        "redditOAuth2Api": {
          "id": "YOUR_REDDIT_CREDENTIALS",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "subreddit": "me_irl",
        "sort": "hot",
        "limit": 25
      },
      "name": "Reddit Get Posts - me_irl",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [450, 400],
      "id": "reddit-meirl",
      "credentials": {
        "redditOAuth2Api": {
          "id": "YOUR_REDDIT_CREDENTIALS",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "subreddit": "funny",
        "sort": "hot",
        "limit": 25
      },
      "name": "Reddit Get Posts - funny",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [450, 500],
      "id": "reddit-funny",
      "credentials": {
        "redditOAuth2Api": {
          "id": "YOUR_REDDIT_CREDENTIALS",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Merge All Posts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [650, 300],
      "id": "merge-posts"
    },
    {
      "parameters": {
        "jsCode": "// Transform Reddit data for database\nconst posts = [];\n\nfor (const item of $input.all()) {\n  const data = item.json.data;\n  \n  // Calculate hours since post\n  const createdUtc = new Date(data.created_utc * 1000);\n  const now = new Date();\n  const hoursSincePost = (now - createdUtc) / (1000 * 60 * 60);\n  \n  // Calculate velocities\n  const upvoteVelocity = hoursSincePost > 0 ? data.ups / hoursSincePost : data.ups;\n  const commentVelocity = hoursSincePost > 0 ? data.num_comments / hoursSincePost : data.num_comments;\n  \n  posts.push({\n    reddit_id: data.id,\n    title: data.title,\n    url: data.url,\n    subreddit: data.subreddit,\n    author: data.author,\n    created_utc: createdUtc.toISOString(),\n    upvotes: data.ups,\n    comments: data.num_comments,\n    awards: data.total_awards_received || 0,\n    cross_posts: data.num_crossposts || 0,\n    permalink: 'https://reddit.com' + data.permalink,\n    is_video: data.is_video || false,\n    thumbnail_url: data.thumbnail !== 'self' ? data.thumbnail : null,\n    upvote_velocity: upvoteVelocity,\n    comment_velocity: commentVelocity,\n    hours_since_post: hoursSincePost\n  });\n}\n\nreturn posts.map(post => ({ json: post }));"
      },
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "transform-data"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": "reddit_posts",
        "columns": "reddit_id,title,url,subreddit,author,created_utc,upvotes,comments,awards,cross_posts,permalink,is_video,thumbnail_url",
        "onConflict": "reddit_id"
      },
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 300],
      "id": "save-supabase",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIALS",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Every 2 Hours": {
      "main": [
        [
          {
            "node": "Reddit Get Posts - memes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit Get Posts - dankmemes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit Get Posts - me_irl",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit Get Posts - funny",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Get Posts - memes": {
      "main": [
        [
          {
            "node": "Merge All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Get Posts - dankmemes": {
      "main": [
        [
          {
            "node": "Merge All Posts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Reddit Get Posts - me_irl": {
      "main": [
        [
          {
            "node": "Merge All Posts",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Reddit Get Posts - funny": {
      "main": [
        [
          {
            "node": "Merge All Posts",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge All Posts": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}